<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <img width="300" src="\assets\img\iconoapp.jpg">
</div>
  <centered>
<h2>  FUNCIONES </h2>
</centered>
<ul>
  
  <li>
    <h2><a target="_blank" rel="TANQUEAR" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="CREAR VEHICULO" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="VER REGISTRO DE CONSUMO" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

